@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  /* ===== Brand Colors  */
  --color-primary: #1E6F4C;
  --color-secondary: #2E8B57;
  --color-accent: #4CAF7D;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}


html {
  scroll-behavior: smooth;
}

